/*******************************************************************************/
/***                                FONTS                                    ***/
/*******************************************************************************/
@font-face {
    font-family: general-sans-bold;
    src: url(fonts/General-Sans/OTF/GeneralSans-Bold.otf)
}

@font-face {
    font-family: general-sans-reg;
    src: url(fonts/General-Sans/OTF/GeneralSans-Regular.otf)
}

@font-face {
    font-family: scp;
    src: url(Fonts/Source-Code-Pro/OTF/SourceCodePro-Regular.otf)
}

@font-face {
    font-family: scp-bold;
    src: url(Fonts/Source-Code-Pro/OTF/SourceCodePro-Bold.otf)
}

/*******************************************************************************/
/***                                BODY                                     ***/
/*******************************************************************************/
/* .line {
    border-left: 6px solid green;
    height: 1800px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    z-index: 40;
} */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    height: 100vh;
    max-width: 1440px;
}

h2 {
    font-family: general-sans-bold;
    font-size: 34px;
}

.project-title {
    text-align: start;
    padding: 32px 64px;
}

.paragraphs {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin: 0px 64px;
    margin-bottom: 32px;
}

p {
    line-height: 41.6px;
    margin: 11px 0px;
}

/*******************************************************************************/
/***                                CAROUSEL                                 ***/
/*******************************************************************************/
.carousel {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    max-width: 1440px;
    width: auto;
    flex: 1;
}

.image-and-description-section {
    height: 550px;
    margin: 32px;
    margin-top: 0px;
}

button {
    font-size: 1.5rem;
    cursor: pointer;
}

.slide-list {
    height: 550px;
}

.image-descriptions-list {
    display: block;
    text-align: center;
    margin: 16px 0px;
    font-size: 14px;
}

.slide,
.image-description {
    display: none;
}

.slide[data-current],
.image-description[data-current] {
    display: block;
    height: 100%;
    width: auto;
}

.image-description[data-current] {
    font-family: satoshi-medium;
    font-size: 14px;
}

/*******************************************************************************/
/***                                FOOTER                                   ***/
/*******************************************************************************/
footer {
    display: flex;
    justify-content: space-around;
    padding: 32px;
    align-items: center;
    background-color: #E8E8E2;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    margin-top: 32px;
}

/* Applies to all paragraphs in footer, but in foot-left and foot-right*/
footer p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
    background-color: inherit;
    font-family: scp;
    color: #666666;
}

.foot-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
    width: 25%;
}

footer h3 {
    /* This is for the text "Douglas Pineda Gutierrez */
    font-family: scp-bold;
    padding: 8px;
    background-color: inherit;
    color: #666666;
}

.email {
    /* This simply fixes a weird spacing issue in the left side of the footer*/
    margin: -11px;
    background-color: inherit;
}

.foot-right {
    max-width: 440px;
    background-color: inherit;
    padding-top: 12px;
    width: 25%;
}

.foot-right p {
    line-height: 32px;
    background-color: inherit;
}

.foot-left p:hover,
.foot-right p:hover,
.foot-left>h3:hover {
    color: #B6D89B;
}