/*******************************************************************************/
/***                                FONTS                                    ***/
/*******************************************************************************/
@font-face {
    font-family: satoshi-reg;
    src: url(Fonts/Satoshi/OTF/Satoshi-Regular.otf);
}

@font-face {
    font-family: satoshi-medium;
    src: url(Fonts/Satoshi/OTF/Satoshi-Medium.otf);
}

@font-face {
    font-family: cabinet;
    src: url(Fonts/Cabinet/OTF/CabinetGrotesk-Regular.otf);
}

@font-face {
    font-family: general-sans-bold;
    src: url(fonts/General-Sans/OTF/GeneralSans-Bold.otf)
}

/*******************************************************************************/
/***                                GENERAL                                  ***/
/*******************************************************************************/
* {
    font-family: satoshi-reg;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color:#FAFAF9;
    color: #262626;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*******************************************************************************/
/***                                NAV BAR                                  ***/
/*******************************************************************************/

    .nav-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 36px;
        /* background-color: aqua; */
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: general-sans-bold;
        font-size: 32px;
        font-weight: 800;
        cursor: pointer;
        /* background-color: brown; */
    }

    nav.right-side {
        display: flex;
        justify-content: flex-end;
        /* background-color:coral; */
        padding: 4px;
        max-width: 800px;
        max-height: 43px;
    }

    /********************************* Page Buttons ***************************************/
    ul.page-buttons, ul.socials-buttons {
        display: flex;
        flex-grow: 1;
        /* background-color: yellowgreen; */
        justify-content: space-around;
        font-size: 18px;
        font-stretch: expanded;
        margin: 24px;
    }

    ul.page-buttons li, ul.socials-buttons li {
        display: flex;
        /* background-color: darkmagenta; */
        align-items: center;
    }

    ul.page-buttons li a, ul.socials-buttons li a i {
        display: flex;
        width: 100%;
        height: 100%;
        transition: all 0.1s ease 0s;
        /* background-color: deeppink; */
        padding: 9px 12px;
        align-items: center;
        color: #666666;
    }

    ul.page-buttons li a {
        font-family: satoshi-medium;
    }

    ul.socials-buttons li a i {
        font-weight: 600;
        font-size: 24px;
        margin: 2px;
    }

    ul.page-buttons li a:hover, ul.socials-buttons li a i:hover {
        color: #B6D89B;
    }

    /********************************* Socials Buttons ***************************************/