@font-face {
    font-family: satoshi-reg;
    src: url(Fonts/Satoshi/OTF/Satoshi-Regular.otf);
}

@font-face {
    font-family: satoshi-light;
    src: url(Fonts/Satoshi/OTF/Satoshi-Light.otf);
}

@font-face {
    font-family: cabinet;
    src: url(Fonts/Cabinet/OTF/CabinetGrotesk-Regular.otf);
}

@font-face {
    font-family: ranade;
    src: url(Fonts/Ranade/OTF/Ranade-Regular.otf);
}

* {
    font-family: satoshi-reg;
}

header {
    font-family: satoshi-light;
    font-size: 22px;
}

h1 {
    font-size: 48px;
    color: #007aff;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

/********************************* Nav Bar ***************************************/

    .nav-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }

    nav.buttons {
        display: flex;
        justify-content: flex-end;
        background-color: yellow;
        padding: 4px;
        flex-grow: 1;
        max-width: 800px;
    }

    ul.buttons-list {
        display: flex;
        flex-grow: 1;
        background-color: yellowgreen;
        padding: 0px;
        justify-content: space-around;
        margin: 0px;
    }

    ul.buttons-list > li {
        display: flex;
        list-style-type: none;
        background-color: darkmagenta;
        margin: 18px;
        padding: 0px;
    }

    ul.buttons-list > a {
        display: block;
        align-content: center;
        width: 100%;
        height: 100%;
    }
