/*******************************************************************************/
/***                                FONTS                                    ***/
/*******************************************************************************/
@font-face {
    font-family: satoshi-reg;
    src: url(Fonts/Satoshi/OTF/Satoshi-Regular.otf);
}

@font-face {
    font-family: satoshi-medium;
    src: url(Fonts/Satoshi/OTF/Satoshi-Medium.otf);
}

@font-face {
    font-family: cabinet;
    src: url(Fonts/Cabinet/OTF/CabinetGrotesk-Regular.otf);
}

@font-face {
    font-family: general-sans-bold;
    src: url(fonts/General-Sans/OTF/GeneralSans-Bold.otf)
}

/*******************************************************************************/
/***                                GENERAL                                  ***/
/*******************************************************************************/
* {
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #FAFAF9;
    color: #262626;
}

body {
    margin-top: 115.2px;
}

main {
    font-family: satoshi-reg;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*******************************************************************************/
/***                                NAV BAR                                  ***/
/*******************************************************************************/

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    padding-top: 18px;
    padding-bottom: 18px;
    /* background-color: aqua; */
    position: fixed;
    width: 100vw;
    z-index: 30;
    left: 0;
    top: 0;
}

.left-side {
    display: flex;
    justify-content: flex-start;
    /* background-color:coral; */
    padding: 4px;
    max-width: 400px;
    max-height: 43px;
}

.logo {
    text-align: center;
    font-family: general-sans-bold;
    font-size: 32px;
    font-weight: 800;
    /* background-color: brown; */
    transform: translateX(-10%);
}

.right-side {
    display: flex;
    justify-content: flex-end;
    /* background-color:coral; */
    padding: 4px;
    max-width: 400px;
    max-height: 43px;
}

/********************************* Page Buttons ***************************************/

ul.page-buttons,
ul.socials-buttons {
    display: flex;
    font-size: 18px;
    font-stretch: expanded;
    margin: 24px;
}

ul.page-buttons li,
ul.socials-buttons li {
    display: flex;
    /* background-color: darkmagenta; */
    align-items: center;
}

ul.page-buttons li a,
ul.socials-buttons li a i {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.135s ease 0s;
    /* background-color: deeppink; */
    padding: 9px 12px;
    align-items: center;
    color: #666666;
}

.logo p {
    transition: all 0.135s ease 0s;
    padding: 9px 12px;
}

ul.page-buttons li a {
    font-family: satoshi-medium;
}

ul.socials-buttons li a i {
    font-weight: 600;
    font-size: 24px;
    margin: 2px;
}

ul.page-buttons li a:hover,
ul.socials-buttons li a i:hover,
.logo :hover {
    color: #B6D89B;
    cursor: pointer;
}

/********************************* Page Contents ***************************************/
.temp-message {
    display: block;
    text-align: center;
    font-size: 18px;
    transition: all 0.135s ease 0s;
    width: 50%;
    transform: translateX(50%);
}

.one {
    margin-top: 150px;
}
.two {
    margin-top: 32px;
}

a.temp-message:hover {
    color: #B6D89B;
}

/*******************************************************************************/
/***                                CAROUSEL                                 ***/
/*******************************************************************************/
.carousel {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    max-width: 1440px;
    width: auto;
    flex: 1;
    margin-top: 64px;
}

.image-and-description-section {
    height: 550px;
    margin: 32px;
    margin-top: 0px;
}

button {
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.135s ease 0s;
}

button:hover {
    color: #B6D89B;
}

.slide-list {
    height: 550px;
}

#indexDisplay {
    display: block;
    text-align: center;
    margin: 16px 0px;
    font-size: 14px;
}

.slide {
    display: none;
}

.slide[data-current] {
    display: block;
    height: 100%;
    width: auto;
}